.full {
	padding: 0px;
}


.footer {
	padding: 0px;
	margin: 0px;
	background-color: grey;
	min-height: 300px;
}

.header {
	background-color: black;
	color: white;
}

.main {
	min-height: 400px;	
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
    color: #FF8200;
 }

 .dropdown a:hover {
    color: #FF8200;
 }